.header{
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    background-color: #011627;
}
.planetscontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #011627;
    color: white;
}
.planetcard{
    width: 200px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.dropdown{
    width:100%;
    height: 40px;
    display: flex;
}
.dropdown input{
    width: 90%;
    height: 40px;
    text-align: center; 
    outline: none;
}
.dropdown input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
  
.vehicle{
    width: 80%;
    height: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
.choosedVehicle{
    width: 80%;
    height: 20px;
    text-align: center;
}
.clear{
    height: 25px;
    width: 25px; 
    padding-left: 8px;
    background-color: red;
    border-radius: 50%;
    margin: 8px 0 1px 5px;
    display: none;
}
.clear:hover{
    cursor: pointer;
}
.vehicleContainer{
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(247, 247, 247, 0.3);
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.vehicleCardContainer{
    width: 80vw;
    height: 80vh;
    background-color: #011627;
    color:black;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
}
.vehicleCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.avatar{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    text-align: center;
    padding-top: 35px;
    border-radius: 50%;
    margin: 10px;
    background-color: #FF9F1C;
}
.vehicleDetails{
    width: 160px;
    height: 150px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    background-color: #FF9F1C;
}
.vehicleDetails div{
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.vehicleChoose{
    width: 160px;
    height: 20px;
    background-color: #FF9F1C;
    margin: 10px;
    text-align: center;
    margin-bottom: 0px;
}
.planetDetails{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cancelVehicleBtn{
    width: 100px;
    height: 30px;
    background-color: red;
    text-align: center;
    margin: 10px;
    padding-top: 5px;
}
.selectedPlanet{
    height: 30px;
    padding: 5px;
    background-color: #FF9F1C;
    text-align: center;
    margin: 10px;
    padding-top: 5px;
}
.distance{
    height: 30px;
    padding: 5px;
    background-color: #FF9F1C;
    text-align: center;
    margin: 10px;
    padding-top: 5px;
}
.searchContainer{
    width: 100%;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBtn{
    height: 30px;
    background-color:green;
    text-align: center;
    padding: 5px;
}
.successPage{
    /* background-color: rgb(75, 145, 168); */
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.resultBox{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagecontainer{
    width: 50%;
    height: 80vh;
}
.resultcontainer{
    width:50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
.resultcontainer div{
    padding: 10px;
}
.resultText{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.startAgainBtn{
    border: 2px solid black;
    background-color: blue;
}


